// get color names from here https://chir.ag/projects/name-that-color/#6195ED

// colors
$white: #fff;
$black: #000;

$secondary_background: #ff6600;
$primary_background: #828282;
$background: #f6f6ef;
$grey: #828282;


// font family names
$font_regular: 'Verdana, Geneva, sans-serif';


// font sizes
$font_secondary: 13px;
$font_regular: 14px;
$font_primary: 16px;
$font_Large: 18px;
$font_small: 12px;
$font_verysmall: 1.0rem;
$font_tiny: 0.8rem;
$font_comment: 2.4rem;
$font_medium: 2.2rem;
$font-modal-location: 1.0rem;



